{% extends 'base.html.twig' %}

{% block title %}Hello DashboardController!{% endblock %}

{% block body %}
<div class="container container-global my-5 p-3">
    <h1 class="my-5 text-center">
        Back-office de ShopSymfo
    </h1>

    <div class="d-grid gap-2 col-4 mx-auto">
        <a href="{{ path('app_admin_brand_index') }}" class="btn btn-primary" role="button">Les marques</a>
        <a href="{{ path('app_admin_shoe_index') }}" class="btn btn-primary" role="button">Les chaussures</a>
        <a href="{{ path('app_admin_user_index') }}" class="btn btn-primary" role="button">Les administrateurs</a>
    </div>
</div>
{% endblock %}
