{% extends 'base.html.twig' %}

{% block title %}Edit Brand{% endblock %}

{% block body %}

    <div class="d-flex align-items-center pt-3 ps-3 gap-4">
        <h1>
            Modifier la marque {{ '"' ~ brand.name ~ '"' }}
        </h1>
        <a href="{{ path('app_admin_brand_index') }}" class="btn btn-info">
            Retour à l'index
        </a>
    </div>

    <div class="container container-global my-5 p-3">
        {{ include('admin/brand/_form.html.twig', {'button_label': 'Mettre à jour'}) }}
        {{ include('admin/brand/_delete_form.html.twig') }}
    </div>

{% endblock %}
